html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-image: url("grafika/smart-g0ca6f6f8f_1920.jpg");
    background-size: 100%;
    background-attachment: fixed;
    scroll-behavior: smooth;
}

nav {
    background-color: rgba(211, 211, 211, 0.9);
    width: 98%;
    padding: 1%;
    font-size: larger;


    line-height: 0%;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    justify-content: space-between;
    align-items: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav img {

}

nav ul {
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

nav ul li a {
    text-decoration: none;
    display: block;
    text-align: center;
}

#o-nas, #oferta, #kontakt, #prezentacja {
    width: 100%;
    height: 1000px;
    display: flex;
    text-align: center;
}

#o-nas {
    margin-top: 4%;
}

#oferta {
    
}

#kontakt {
    
}

#prezentacja {
    
}

@media screen and (max-width: 669px) {
    nav {
        flex-direction: column;
        position: static;
    }

    nav img {
        width: 60%;
    }

    nav ul {
        width: 100%;
        flex-direction: column;
    }

    nav ul li a {
        width: 90%;
        padding: 5%;
    }

    #o-nas {
        margin-top: 8%;
    }

}

@media screen and (min-width: 670px) {
    nav {
        flex-direction: row;
        position: fixed;
        right: 0;
        top: 0;
    }

    nav img {
        width: 100px;
    }

    nav ul {
        flex-direction: row;
    }

    nav ul li a {
        width: 150px;
        padding: 10px;
    }
}
